# Base directory for the run files
BASEDIR=${HOME}/docker/bitpoll

# UID and GID that the run directories will be owned by
# Note: Conveniently set this to you own primary uid and gid.
# 	This will make it possible to update/modify the
# 	configuration files without having to resort to sudo/su.
#
# Note:	This also ensures that the database directory and the
# 	database file are modifiable in the container - otherwise
# 	bitpoll will not accept any logins/polls.
# Set to the output of: id -u
UID=1001
# Set to the output of: id -g
GID=1001
